body {
  background-color: #99bffc;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238b8b8b' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

img {
  border-radius: 2px;
  border: 1px solid #30282b;
  margin-right: 5px;
  width: 36px;
}

table {
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
}

table tbody {
  background-color: white;
}

table thead {
  background-color: white;
  color: #30282b;
}

.table-hover tbody tr:hover td {
  background-color: #30282b;
  color: white;
}

.table-hover tbody tr:hover a {
  color: white;
}

.footer {
  margin-bottom: 30px;
}

.footer a {
  color: white;
}

thead .leaderboard {
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  background-color: #30282b;
  border-style: hidden !important;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 18pt;
  font-weight: normal;
  padding-top: 40px;
  padding-bottom: 40px;
}
